.row
  .small-12.large-10.columns.large-offset-1
    %h1
      Welcome to DC Tech People
    %p
      The goal of this site is to use data to highlight issues regarding gender and minority inclusion in the Washington DC tech community. Please feel free to extend this project as you see fit-
      = link_to "https://github.com/scottrblock/DC-Tech-People" do
        GitHub Source
        %i.fa.fa-github
      Data is updated nightly at about 3:00am EST, at which point the 
      site may be down or innacurate for about 15min.
    = render "angel_list"
    = render "facebook"


