$pink: #FF007A;
$blue: #007AFF;

.subhead{
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.gender-graphic{

  .fa-female{
    color: $pink;
  }

  .fa-male{
    color: $blue;
  }

}

footer{
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid #666;
}